:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: var(--default-font-family);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  
  h2 {
    font-size: 64px;
  }
  
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  
  .hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
  }
  
  .hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
  }
  
  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
  }
  
  .btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
  }
  
  .project-desciption {
    padding: 120px 60px;
  }
  .bg-light{
    background-color: #f8f9fa;
  }
  .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .container{
    width: 100%;
  }
  .navbar-light .navbar-brand{
    color: rgba(0,0,0,.9);
  }
  .navbar-nav{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  li{
    display: list-item;
    text-align: -webkit-match-parent;
  }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  @media (max-width: 900px) {
    h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    h2 {
      font-size: 44px;
    }
  
    .hero {
      padding: 80px 20px;
    }
  
    .project-desciption {
      padding: 0;
      text-align: center;
    }
  }
  